.BoxPrincipal{
    display: flex;
    flex-direction: row;
    width: 2500px;   
    height: 500px;
    margin: 100px;
    
}

.Box2{
    color: black;
    width: 25000px;
    height: 500px;
    background-color:red;
    padding-left: 10px;
    border-style:solid;
    border-color: black;
}
.title{
    font-size:100px;
    text-align: center;
    color: black;
}

.Navigation{
    display: flex;
    justify-content: center;
    font-size: larger;
    
}

.Botonera{
    font-size: xx-large;
    list-style: none;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(38, 27, 5) ;
}

.Word{
    text-decoration-line: none;
    color: white;
    cursor: pointer;
    border-color: blueviolet;
    border-style: hidden;
    font-size: 90px;
}
.Word:hover{
    background-color:#493906;
    color: white;
}
body{
    background-image:url(images/cafe\ 4.jpg);
    font-family: monospace; 
    background-repeat: repeat;
}

.formulario{
    background-color: bisque;
    text-align: center;
    font-size: xx-large;
    font-family: fantasy;
}

.parrafo{
    text-align: left;
}

.usuario{
    font-size: x-large;
}

.subtitulo{
    font-size: 60px;
}
th{
    background-color: rgb(38, 27, 5);
    color: white    ;
}       
tbody{
    color:white;
    font-size: 40px;    
}
tfoot{
    color: white;
}
table,td,tr {
    border: 2px solid black;
    border-collapse:collapse;
}
table{
    width: 1500px;
    height: 1500px;
    background-color: rgb(38, 27, 5);
}
.FotosdelaTabla{
    display: flex;
    justify-content: center;
    padding: 5%;
    width: 500px;  
    height: 400px; ;

}
.TextodelaTabla{
    font-size: 20px;
    text-align: center;
}
.TopdelaTabla{
    font-size: 30px;
 } 
 