.BoxPrincipal{
    display: flex;
    flex-direction: row;
    
}

.Box2{
    color: red;
    width: 100px;
    height: 300px;
    background-color: brown;
    padding-left: 10px;
    border-style:solid;
    border-color: black;
}
.title{
    font-size: 200px;
    text-align: center;
    color: black;
}

.Navigation{
    display: flex;
    justify-content: center;
    font-size: larger;
    
}

.Botonera{
    font-size: xx-large;
    list-style: none;
    margin-left: 10%;
    margin-right: 10%;
}

.Word{
    text-decoration-line: none;
    color: black;
    cursor: pointer;
    border-color: blueviolet;
    border-style: hidden;
    font-family: ;
    font-size: 90px;
}

.Word:hover{
    background-color: white;
    color: red;
}

body{
    background-image:url(images/cafe\ 4.jpg);
    font-family: monospace; 
    background-repeat: repeat;
}