.BoxPrincipal{
    display: flex;
    flex-direction: row;
    width: 2500px;   
    height: 500px;
    margin: 100px;
    
}

.Box2{
    color: black;
    width: 25000px;
    height: 500px;
    background-color:red;
    padding-left: 10px;
    border-style:solid;
    border-color: black;
}
.title{
    font-size:100px;
    text-align: center;
    color: black;
}

.Navigation{
    background-color: rgba(38, 27, 5, 0.877) ;
    display: flex;
    justify-content: center;
    font-size: larger;
    flex-wrap: wrap;
}

.Botonera{
    font-size: large;
    list-style: none;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}

.Word{
    text-decoration-line: none;
    color: white;
    cursor: pointer;
    border-color: blueviolet;
    border-style: hidden;
    font-size: 90px;
}
.Word:hover{
    background-color:#493906;
    color: white;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}
body{
    background-image:url(images/cafe\ 4.jpg);
    font-family: fantasy;
    background-repeat: repeat;
}

.formulario{
    height: 500px;
    background-color: bisque;
    text-align: left;
    font-size: xx-large;
    justify-content: center;
}

.formulario2{
    display: inline;
    flex-wrap: wrap;
}
.parrafo{
    text-align: left;
}

.usuario{
    font-size: x-large;
}

.subtitulo{
    font-size: 60px;
}
th{
    color: white;
}       
tbody{
    color:white;
    font-size: 40px;    
}
tfoot{
    color: white;
}
table,td,tr {
    border: 2px solid black;
    border-collapse:collapse;
}
table{
    width: 1500px;
    height: 1500px;
    background-color: rgba(38, 27, 5, 0.877);
}
.FotosdelaTabla{
    display: flex;
    justify-content: center;
    padding: 5%;
    width: 500px;  
    height: 400px; ;
}
.TextodelaTabla{
    font-size: 20px;
    text-align: center;
}
.TopdelaTabla{
    font-size: 30px;
}
.Texto{
    font-size: 50px;
}
.Block1{
    background-color: rgba(38, 27, 5, 0.877);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.Imgcafe{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.formulario3{
    margin-left: 20px;
    display: block;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.Blocke_captcha{
    display: inline;
    flex-direction: row;
    flex-wrap: wrap;
}
@media only screen and (max-width:1515px) {
    table{
        width: 1000px;
        height: 550px;  
    }
    td{
        font-size: 25px;
    }
    .FotosdelaTabla{
        width: 250px;  
        height: 200px;
    }
    .title{
        font-size: 80px;
    }
    .Word{
        font-size: 60px;
    }
    .subtitulo{
        font-size: 40px;
    }
    .Texto{
        font-size: 35px;
    }
}
@media only screen and (max-width:915px) {
    .Texto{
        font-size: 30px;
    }
    .title{
        font-size:60px;
    }
    .TextodelaTabla{
        font-size: 5px; 
    }
    .Word{
        font-size: 55px;
    }
    table{
        width: 700px;
        height: 400px;  
    }
    td{
        font-size: 25px;
    }
    .FotosdelaTabla{
        width: 250px;  
        height: 200px;
    }
    .subtitulo{
        font-size: 30px;
    }
    .formulario{
        height: 450px;
    }
}